<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Nuevo formulario de contacto lleno</h2>
    <h4>Nombre</h4>
    <%= @contact.name %>
    <h4>Email</h4>
    <%= @contact.email %>
    <h4>Teléfono</h4>
    <%= @contact.mobile %>
    <h4>Tema</h4>
    <%= simple_format @contact.subject %>
  </body>
</html>
