<div class="slider">
    <div class="callbacks_container">
       <ul class="rslides" id="slider">
       <% @slides.each do |s| %>
           <li>
         <div class="banner" style="background:url(<%= s.picture %>) no-repeat 0px 0px;">          
            <div class="banner-info">
            <h3><%= s.title %></h3>
            <p><%= s.description %></p>
            </div>
         </div>
           </li>
           <% end %>
        </ul>
    </div>
</div>