<div class="slider">
    <div class="callbacks_container">
       <ul class="rslides" id="slider">
       <% @slides.each do |s| %>
           <li>
         <div class="banner1">          
            <div class="banner-info">
            <h3><%= s.title %></h3>
            <p><%= s.description %></p>
            </div>
         </div>
           </li>
           <% end %>
        </ul>
    </div>
</div>