@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap.css";
@import "flexslider";
@import "form";
@import "jquery-ui";
@import "memenu";
@import "style";

*{
  font-family: 'Dosis-Regular';
}

.pagination-box{
  clear: both;
}

.header-top{
  margin-bottom: 30px;
}