@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap.css";
@import "flexslider";
@import "form";
@import "jquery-ui";
@import "memenu";
@import "style";

*{
  font-family: 'Dosis-Regular';
}

.pagination-box{
  clear: both;
}

.header-top{
  margin-bottom: 30px;
}

.table td, .table th{
  vertical-align: middle !important;
}

.view-selector{
  margin-top: 20px;
}

.contact{
  p{
    padding: 10px;
  }
  h4{
    margin: 15px 0;
  }
}