
<div class="footer">
   <div class="container">
     <div class="footer-grids">
       <div class="col-md-3 about-us">
         <h3>Sobre Nosotros</h3>
          <p>Raxa Distribuciones nace hace doce años, con la filosofía de ofrecer a sus clientes mejores condiciones de compra, servicio y surtido de productos. Esta filosofía nos ha permitido con el paso de los años convertirnos en un referente en el mercado.</p>
       </div>
       
       <div class="clearfix"></div>
     </div>
   </div>
</div>
<div class="copywrite">
   <div class="container">
     <div class="copy">
       <p>© 2015 Lighting. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
     </div>
   </div>
</div>